* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(./bg.jpg);
}

.navbar {
  background-color: orange;
  width: 99vw;
  border-bottom: 5px solid rgb(130, 35, 0);
  margin-bottom: 25px;
}

.nav-items {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.navtext {
  font-size: 13px;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 8px;
  border-radius: 50px;
  opacity: 100%;
  transition-duration: 0.5s;
  color: white;
  flex: 0 1 13;
}

.navtext:hover {
  opacity: 50%;
}

.name {
  font-size: 50px;
}

.main-container {
  display: flex;
  justify-content: center;
  grid-template-columns: 60% 40%;
  grid-template-rows: 87vh;
  display: relative;
  line-height: 1.5;
  margin-bottom: 250px;
  gap: 100px;
  flex-wrap: wrap;
}

.grid-text {
  text-transform: uppercase;
  position: relative;
  left: 340px;
  top: 130px;
  font-size: 35px;
  color: white;
  font-weight: bold;
  filter: drop-shadow(5px 5px 5px black);
  display: inline-block;
}

.mypic {
  width: 280px;
  position: relative;
  top: 60px;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.mypic:hover {
  transform: scale(1.2);
}

.about-content {
  font-size: 15px;
  position: relative;
  transform: translate(20px, 20px);
  top: 150px;
  left: 50px;
  color: white;
  filter: drop-shadow(2px 2px 2px black);
  width: 600px;
}

span {
  color: orange;
  font-size: 20px;
}

.projects {
  flex-flow: column;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.project-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.project {
  width: 350px;
  transition-duration: 0.5s;
  opacity: 100%;
  border-radius: 10px;
}

.project:hover {
  transform: scale(1.1);
  opacity: 100%;
}

.projects-header {
  font-size: 30px;
  color: black;
  background-color: orange;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  filter: drop-shadow(5px 5px 5px black);
  margin-left: 30px;
}

.minimize {
  width: 300px;
}

nav div a {
  text-decoration: none;
  color: white;
}

#certificate {
  margin-bottom: 100px;
}

.back {
  margin-right: 50px;
}

#projects-header {
  margin-right: 40px;
}

.project-titles {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
  flex-wrap: wrap;
}

@media (max-width: 810px) {
  .navbar {
    width: 100%;
  }

  .about-content {
    transform: translate(-30px, -80px);
    max-width: 300px;
  }

  .grid-text {
    margin-bottom: 50px;
    transform: translate(-95px, -80px);
  }

  .navtext {
    font-size: 9px;
  }
}
